.caja{
    background-color: grey;
    margin: 100px;
    border-radius: 6px;
    width: 500px;
    height: 500px;
}

.boton{
    margin: 10px;
    width: 50%;
    display: inline;
    justify-content: center;
}

body{
    background-color: darkblue;
}